<a routerLink="expenses" routerLinkActive="active"></a>
<div class="expenses">
  <div class="expense-form">
    <h3>Expenses</h3>
    <form
      name="Vehicle Expenses"
      id="vehicleExpenses"
      *ngIf="requiredForm"
      [formGroup]="requiredForm"
      (ngSubmit)="onClickSubmit(requiredForm.value)"
    >
      <div>
        <label for="rNumber" class="form-label"
          >Registration Number :
          <ng-select
            [items]="regNoArr"
            bindLabel="Registration Number"
            bindValue="id"
            formControlName="registrationNumber"
            [(ngModel)]="selectedVehicleId"
            class="form"
          >
          </ng-select>
        </label>
      </div>

      <div>
        <label for="Date" class="form-label"
          >Date :
          <input
            id="Date"
            name="date"
            class="form-control form"
            formControlName="date"
            placeholder="DD-MM-YYYY"
        /></label>
      </div>
      <div>
        <label for="expenseName" class="form-label"
          >Expense Name :
          <input
            id="expenseName"
            name="document name"
            class="form-control form"
            formControlName="expenseName"
            placeholder="Expense Name"
        /></label>
      </div>
      <div>
        <label for="expense" class="form-label"
          >Expense :
          <input
            id="expense"
            name="expenseName"
            class="form-control form"
            formControlName="expense"
            placeholder="00.00"
        /></label>
      </div>
      <div>
        <p class="warn">{{ warn }}</p>
        <p class="success">{{ success }}</p>
      </div>
      <div>
        <button
          class="btn btn-outline-danger form"
          type="submit"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="listing">
    <h3>Expense Details</h3>
    <div>
      <li *ngFor="let vehicles of vehicleArr" class="list">
        {{ vehicles.registrationNumber }}
        <ul>
          <li *ngFor="let expenses of vehicles.expenses">
            {{ expenses.expenseName }}, {{ expenses.date }}, ₹
            {{ expenses.expense }}
          </li>
        </ul>
      </li>
    </div>
  </div>
</div>
