.vehicles,
.documents,
.expenses {
  padding: 3%;
}
.nav {
  padding: 10px;
  background: #1d0028;
}
.vehicle-form,
.document-form,
.expense-form {
  background: #c4b6e5;
  border-radius: 7px;
  box-shadow: 0 5px 7px #44005c;
  padding: 5% 20%;
}
.listing {
  background: #c4b6e5;
  border-radius: 7px;
  box-shadow: 0 6px 8px #44005c;
  padding: 5% 20%;
  margin-top: 4%;
}

.ng-select.custom {
  background-color: #fff;
  
}
.ng-select.custom .ng-select-container {
  background-color: #fff;
}
